.header {
  background-color: LightSteelBlue;

}

h1 {
  /*font-weight: lighter;*/
}

h2 {
  /*font-weight: lighter;*/
}

h3 {
  background-color: LightSteelBlue;
  /*font-weight: lighter;*/
  font-size: 18px;
}
